* {
    font-family: 'Abel', sans-serif;
}

body {
    background-color: #E6E6E6;
}

.BC {
    border: lightgrey solid 4px;
}
#icon {
    height: 50px;
    width: 50px;
    margin: 0;
}
#banner {
    font-family: 'Anton', sans-serif;
    font-size: xxx-large;
}

#subbanner {
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
}
/*Large Icons*/
.selector-for-some-widget {
    /*box-sizing: content-box;*/
    color: white;
    width: 125px;
    height: 125px;
    border: 10px solid white;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em;
    font-family: 'Anton', sans-serif;
}

#design{
    background-color: #E6563B;
}

#develop {
    background-color: #EB9D3A;
}

#support {
    background-color: #7CB06C;
}

#host {
    background-color: #00ABA9;
}

/*small icons*/
.selector-for-small-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
    margin-right: .5em;
    font-size: x-small;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}



#nested {
    display: none;
}

#hr {
    display: none;
}

#smallicons {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
}
.featuredpro {
    margin-top: 8px;
}
@media screen and (min-width:768px) {
    #hr{
        display: flex;
        border-top: solid 1px;
    }
}
@media screen and (min-width:992px) {
    #nested {
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }

    .nesttext {
        font-family: 'Anton', sans-serif;
        font-size: large;
    }

    .nestpic {
        height: 60px;
        width: 70px;
        margin: 0 10px 50px 0;
        border: lightgrey solid 4px;
    }

    #pictures {
        display: flex;
    }





}
